.title{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page{
    text-align: center;
    flex-wrap: wrap;
    background-color: lightblue;

}

.img{
    width: 600px;
}

ul{
   text-align: center;
   display: inline-flexbox;
}
.ul{
    width: 400px;
    text-align: center;
    margin-left: 36%;

}
li{
    display: inline-flexbox;
}